.full-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card-container {
    perspective: 1000px;
    /* profondeur 3D */
    width: 13.188rem;
    height: 20.5rem;
    cursor: pointer;
    border: 0.25rem solid transparent;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &.selected {
        border-color: red;
        /* halo doré */
        /* léger zoom pour feedback */
        transition: border-color 0.5s ease-in-out;
    }
}

.card-flip {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card-flip.flipped {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.back {
    aspect-ratio: 7/10;
    perspective: 1000px;
    background-image: url('/img/card-back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* ou contain selon le rendu */
}

.card-body {
    height: 100%;
    width: 100%;
    position: relative;
}

.prop-blue {
    background-image: url('/img/card-prop-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-pink {
    background-image: url('/img/card-prop-pink.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-brown {
    background-image: url('/img/card-prop-brown.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-orange {
    background-image: url('/img/card-prop-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-red {
    background-image: url('/img/card-prop-red.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-green {
    background-image: url('/img/card-prop-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-yellow {
    background-image: url('/img/card-prop-yellow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-light-blue {
    background-image: url('/img/card-prop-light-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-dark-blue {
    background-image: url('/img/card-prop-dark-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-railroad {
    background-image: url('/img/card-prop-railroad.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-elec {
    background-image: url('/img/card-prop-elec.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-water {
    background-image: url('/img/card-prop-water.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker {
    background-image: url('/img/card-prop-joker.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker-red-yellow {
    background-image: url('/img/card-joker-red-yellow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker-blue-brown {
    background-image: url('/img/card-joker-blue-brown.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker-pink-orange {
    background-image: url('/img/card-joker-pink-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker-blue-green {
    background-image: url('/img/card-joker-blue-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker-green-black {
    background-image: url('/img/card-joker-green-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker-black-utility {
    background-image: url('/img/card-joker-black-utility.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-joker-blue-black {
    background-image: url('/img/card-joker-blue-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-birthday {
    background-image: url('/img/card-action-birthday.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-hotel {
    background-image: url('/img/card-action-hotel.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-house {
    background-image: url('/img/card-action-house.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-start {
    background-image: url('/img/card-action-start.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-deal-banco {
    background-image: url('/img/card-action-deal-banco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-deal-jackpot {
    background-image: url('/img/card-action-deal-jackpot.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-deal-troc {
    background-image: url('/img/card-action-deal-troc.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-double-rent {
    background-image: url('/img/card-action-double-rent.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-duel {
    background-image: url('/img/card-action-duel.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-action-joker {
    background-image: url('/img/card-action-joker.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-rent-multi {
    background-image: url('/img/card-rent-multi.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-rent-red-yellow {
    background-image: url('/img/card-rent-red-yellow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-rent-pink-orange {
    background-image: url('/img/card-rent-pink-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-rent-blue-green {
    background-image: url('/img/card-rent-blue-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-rent-green-black {
    background-image: url('/img/card-rent-green-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-rent-black-utility {
    background-image: url('/img/card-rent-black-utility.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-rent-blue-brown {
    background-image: url('/img/card-rent-blue-brown.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.money-one {
    background-image: url('/img/card-money-one.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.money-two {
    background-image: url('/img/card-money-two.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.money-three {
    background-image: url('/img/card-money-three.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.money-ten {
    background-image: url('/img/card-money-ten.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.money-four {
    background-image: url('/img/card-money-four.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.money-five {
    background-image: url('/img/card-money-five.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prop-title {
    position: absolute;
    top: 2rem;
    text-align: center;
    font-weight: bold;
    width: 7.5rem;
    left: 4rem;
    font-size: 0.85rem;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    line-height: normal;
}
