<div class="full-card">
    <div class="card-container" [class.readonly]="readOnly" [class.selected]="selected" (click)="clickable && toggleCard()">
        <div class="card-flip" [class.flipped]="!showFront">
            <div class="front face">
                <div class="card-body">
                    @if(card?.type === CardType.Money) {
                    <div [ngClass]="{
                  'money-one': card?.value === 1,
                  'money-two': card?.value === 2,
                  'money-three': card?.value === 3,
                  'money-four': card?.value === 4,
                  'money-five': card?.value === 5,
                  'money-ten': card?.value === 10,
                }">
                    </div>
                    } @if ((card?.type === CardType.Action) && (card?.setAction === ActionSet.Rent)) {
                    <div [ngClass]="{
                  'prop-rent-blue-brown': card?.setType === PropertySet.LightBlue &&  card?.setType2 === PropertySet.Brown,
                  'prop-rent-pink-orange': card?.setType === PropertySet.Pink &&  card?.setType2 === PropertySet.Orange,
                  'prop-rent-blue-green': card?.setType === PropertySet.DarkBlue &&  card?.setType2 === PropertySet.Green,
                  'prop-rent-green-black': card?.setType === PropertySet.Green &&  card?.setType2 === PropertySet.Railroad,
                  'prop-rent-black-utility': card?.setType === PropertySet.Railroad &&  card?.setType2 === PropertySet.Utility,
                  'prop-rent-blue-black': card?.setType === PropertySet.LightBlue &&  card?.setType2 === PropertySet.Railroad,
                  'prop-rent-red-yellow': card?.setType === PropertySet.Red &&  card?.setType2 === PropertySet.Yellow,
                  'prop-rent-multi': card?.setType === PropertySet.Multi,

                  'prop-joker': card?.setType === PropertySet.Multi
                }">
                    </div>
                    } @if(card?.type === CardType.Action) {
                    <div [ngClass]="{
                  'prop-action-birthday': card?.setAction === ActionSet.Birthday,
                  'prop-action-deal-banco': card?.setAction === ActionSet.DealBanco,
                  'prop-action-deal-jackpot': card?.setAction === ActionSet.DealJackpot,
                  'prop-action-deal-swap': card?.setAction === ActionSet.DealSwap,
                  'prop-action-double-rent': card?.setAction === ActionSet.DoubleRent,
                  'prop-action-duel': card?.setAction === ActionSet.DealDuel,
                  'prop-action-joker': card?.setAction === ActionSet.Joker,
                  'prop-action-hotel': card?.setAction === ActionSet.House,
                  'prop-action-house': card?.setAction === ActionSet.Hotel,
                  'prop-action-start': card?.setAction === ActionSet.PassGo,
                }">
                    </div>
                    } @if(card?.type === CardType.PropertyJoker) {
                    <div [ngClass]="{
                  'prop-joker-blue-brown': card?.setType === PropertySet.LightBlue &&  card?.setType2 === PropertySet.Brown,
                  'prop-joker-pink-orange': card?.setType === PropertySet.Pink &&  card?.setType2 === PropertySet.Orange,
                  'prop-joker-blue-green': card?.setType === PropertySet.DarkBlue &&  card?.setType2 === PropertySet.Green,
                  'prop-joker-green-black': card?.setType === PropertySet.Green &&  card?.setType2 === PropertySet.Railroad,
                  'prop-joker-black-utility': card?.setType === PropertySet.Railroad &&  card?.setType2 === PropertySet.Utility,
                  'prop-joker-blue-black': card?.setType === PropertySet.LightBlue &&  card?.setType2 === PropertySet.Railroad,
                  'prop-joker-red-yellow': card?.setType === PropertySet.Red &&  card?.setType2 === PropertySet.Yellow,

                  'prop-joker': card?.setType === PropertySet.Multi
                }">
                    </div>
                    @if(card?.jokerColor && readOnly && card?.jokerColor !== PropertySet.Multi){Color: {{ card?.jokerColor }}} } @if(card?.type === CardType.Property) {
                    <div [ngClass]="{
                  'prop-dark-blue': card?.setType === PropertySet.DarkBlue,
                  'prop-brown': card?.setType === PropertySet.Brown,
                  'prop-light-blue': card?.setType === PropertySet.LightBlue,
                  'prop-pink': card?.setType === PropertySet.Pink,
                  'prop-orange': card?.setType === PropertySet.Orange,
                  'prop-red': card?.setType === PropertySet.Red,
                  'prop-yellow': card?.setType === PropertySet.Yellow,
                  'prop-green': card?.setType === PropertySet.Green,
                  'prop-railroad': card?.setType === PropertySet.Railroad,
                  'prop-elec': card?.setType === PropertySet.UtilityElec,
                  'prop-water': card?.setType === PropertySet.UtilityWater,
                }">

                        <div class="prop-title" [ngClass]="{
                  'text-white': card?.setType === PropertySet.Brown
                  || card?.setType === PropertySet.Pink || card?.setType === PropertySet.Orange || card?.setType === PropertySet.Red
                  || card?.setType === PropertySet.Railroad,
                }">{{ card?.name }}</div>
                    </div>
                    }
                </div>
            </div>

            <div class="back face ">
            </div>

        </div>
    </div>
    @if(!readOnly) { @if(card?.type === CardType.Action || card?.setAction === ActionSet.Rent ) { @if(card) {
    <div class="btn-group mt-2" role="group" aria-label="Card selection">
        <!-- Not Picked -->
        <input type="radio" class="btn-check" name="card-{{card.id}}" id="not-picked-{{card.id}}" [checked]="!selected" (change)="onCardStateChange('not-picked')">
        <label class="btn btn-outline-dark" for="not-picked-{{card.id}}">Skip</label>

        <!-- Money -->
        <input type="radio" class="btn-check" name="card-{{card.id}}" id="money-{{card.id}}" [checked]="selected && !card.playAction" (change)="onCardStateChange('money')">
        <label class="btn btn-outline-danger" for="money-{{card.id}}"><i class="bi bi-currency-euro me-2"></i>Money</label>

        <!-- Action -->
        <input type="radio" class="btn-check" name="card-{{card.id}}" id="action-{{card.id}}" [checked]="selected && card.playAction" (change)="onCardStateChange('action')" [disabled]="!canPlayAction()">
        <label class="btn btn-outline-danger" for="action-{{card.id}}" [attr.title]="card.setAction === ActionSet.Rent && !canPlayAction() ? 'No matching properties to collect rent' : ''">Action</label>
    </div>

    @if (selected && card.playAction && card.setAction === ActionSet.DealDuel && card.actionTargetId) {
    <div class="mt-3">
        <label class="fw-bold">Choose property to steal:</label>
        <div class="btn-group-vertical w-100 mt-2">
            @for(prop of getDuelPropertiesForCard(card); track prop.id) {
            <input type="radio" class="btn-check" name="duelprop-{{card.id}}" id="duelprop-{{card.id}}-{{prop.id}}" [checked]="card.duelTargetPropId === prop.id" (change)="onDuelPropertySelected(prop.id)">
            <label class="btn btn-outline-success" for="duelprop-{{card.id}}-{{prop.id}}">
          {{ prop.name }} ({{ prop.setType }})
        </label> }
        </div>
    </div>
    }

    <!-- Montrer les joueurs UNIQUEMENT si la carte est sélectionnée en tant qu’action -->
    @if (selected && card.playAction && card.setAction !== ActionSet.PassGo && card.setAction !== ActionSet.DealJackpot && card.setAction !== ActionSet.Birthday) {

    <div class="mt-3">
        <label class="fw-bold">Choose target player:</label>

        <div class="btn-group-vertical w-100 mt-2">

            @for(p of players; track p.id) { @if (p.name.toLowerCase() !== 'human') {
            <input type="radio" class="btn-check" name="target-{{card!.id}}" id="target-{{card!.id}}-{{p.id}}" [checked]="card.actionTargetId === p.id" (change)="onTargetSelected(p.id)" />

            <label class="btn btn-outline-primary" for="target-{{card!.id}}-{{p.id}}">
                        {{ p.name }}
                    </label> } }

        </div>
    </div>

    }@if (selected && card.playAction && (card.setAction === ActionSet.House || card.setAction === ActionSet.Hotel)) {

    <div class="mt-3">
        <label class="fw-bold">Choose a property set:</label> @if(getEligibleSeries(card).length === 0) {
        <div class="alert alert-warning mt-2">
            No complete property set available for placing a House/Hotel.
        </div>
        } @else {
        <div class="btn-group-vertical w-100 mt-2">

            @for(series of getEligibleSeries(card); track series.color) {

            <input type="radio" (change)="onPlaceHouseOrHotel(series.color)" class="btn-check" name="series-{{ card.id }}" id="series-{{ card.id }}-{{ series.color }}" [checked]="card.targetSeries === series.color" (change)="card.targetSeries = series.color">

            <label class="btn btn-outline-success" for="series-{{ card.id }}-{{ series.color }}">
          {{ series.color }} ({{ series.cards.length }} cards)
        </label> }
        </div>
        }
    </div>

    }@if (selected && card.playAction && card.setAction === ActionSet.DealJackpot) {
    <div class="mt-3">
        <label class="fw-bold">Choose target player:</label>
        <div class="btn-group-vertical w-100 mt-2">
            @for(p of players; track p.id) { @if (p.name.toLowerCase() !== 'human') {
            <input type="radio" class="btn-check" name="target-{{card!.id}}" id="target-{{card!.id}}-{{p.id}}" [checked]="card.actionTargetId === p.id" (change)="onTargetSelected(p.id)" />
            <label class="btn btn-outline-primary" for="target-{{card!.id}}-{{p.id}}">
          {{ p.name }}
        </label> } }
        </div>
    </div>
    } @if (selected && card.playAction && card.setAction === ActionSet.Rent) {

    <div class="mt-3">
        <label class="fw-bold">Choose rent color:</label>

        <div class="btn-group-vertical w-100 mt-2">

            @for(color of getRentColors(card); track color) {

            <input type="radio" class="btn-check" name="rentcolor-{{ card.id }}" id="rentcolor-{{ card.id }}-{{ color }}" [checked]="card.rentColor === color" (change)="onRentColorSelected(color)" />

            <label class="btn btn-outline-success" for="rentcolor-{{ card.id }}-{{ color }}">
          {{ color }}
        </label> }

        </div>
    </div>
    } } } @else {

    <div class="btn-group mt-2" role="group" aria-label="Take or Skip">

        <!-- Skip -->
        <input type="radio" class="btn-check" name="pickState-{{card?.id}}" id="skip-{{card?.id}}" [checked]="!selected" (change)="onPickStateChange(false)">
        <label class="btn btn-outline-dark" for="skip-{{card?.id}}">
    Skip
  </label>

        <!-- Take -->
        <input type="radio" class="btn-check" name="pickState-{{card?.id}}" id="take-{{card?.id}}" [checked]="selected" (change)="onPickStateChange(true)" [disabled]="card?.type === CardType.PropertyJoker && !canTakePropertyJoker(card)">
        <label class="btn btn-outline-danger" for="take-{{card?.id}}">
    <i class="bi bi-hand-index-fill me-2"></i>  Take
  </label>

    </div>

    @if(card && selected && card.type === CardType.PropertyJoker) {
    <div class="mt-3">
        <label class="fw-bold">Choose a color for the Joker:</label>
        <div class="btn-group-vertical w-100 mt-2">
            @for(color of getAvailableJokerColors(card); track $index) {
            <input type="radio" class="btn-check" name="jokercolor-{{ card.id }}" id="jokercolor-{{ card.id }}-{{ color }}" [checked]="card.jokerColor === color" (change)="onJokerColorSelected(color)" />
            <label class="btn btn-outline-success" for="jokercolor-{{ card.id }}-{{ color }}">
          {{ color }}
        </label> }
        </div>
    </div>
    } } }
</div>