.game {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    color: #000;
}

.player {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    .player-name {
        font-size: 1rem;
        ;
        .name {
            display: flex;
            font-weight: bold;
            font-size: 1.4rem;
        }
    }
    .player-infos {
        flex-direction: column;
    }
    .player-properties {
        display: flex;
    }
    .player-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .player-actions,
    .player-properties,
    .player-money {
        .title {
            font-size: 1.2rem;
            color: red;
            font-weight: bold;
        }
    }
}

.remaining {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    .title {
        font-size: 1.2rem;
        color: red;
        font-weight: bold;
    }
}

.debug {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    gap: 1rem;
    padding: 1rem;
}
