.game {
    display: flex;
    background-color: #000;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    color: #fff;
}

.player {
    display: flex;
    background-color: #000;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    .player-name {
        display: flex;
    }
    .player-properties {
        display: flex;
    }
    .player-cards {
        display: flex;
        flex-wrap: wrap;
    }
}

.remaining {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000;
    gap: 1rem;
    padding: 1rem;
}

.debug {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    gap: 1rem;
    padding: 1rem;
}