<button class="btn btn-primary" (click)="newGame()">New Game</button>
<button class="btn btn-primary" (click)="remove()">REMOVE</button>

<div class="game">

    @if (players$ | async; as players) { @for(player of players; track $index) {


    <div class="player">
        <div class="player-name">{{ player.name}}</div>

        @if(player.name.toLowerCase() === 'human') { @for(card of player.hand; track $index) {
        <div class="player-cards">
            <ganopoly-card [card]="card" (selectionChange)="onCardSelectionChange($event)"></ganopoly-card>
        </div>

        } @if (selectedCards.length > 3) {
        <p class="text-danger">Max 3 cards selected</p>
        }

        <button [disabled]="selectedCards.length > 3 || (currentPlayerIndex | async) !== 3" class="btn btn-primary" (click)="endturn()">END TURN</button> }

        <div class="player-money"> Notes @for(card of player.money; track $index) {
            <ganopoly-card [card]="card"></ganopoly-card>
            }

        </div>
        <div class="player-properties"> Properties @for(card of player.properties; track $index) {
            <ganopoly-card [card]="card"></ganopoly-card>
            }

        </div>

        <div class="player-actions"> Actions @for(card of player.actions; track $index) {
            <ganopoly-card [card]="card"></ganopoly-card>
            }

        </div>

    </div>
    } } @if (remainingDeck$ | async; as remainingDeck) {

    <div class="remaining">Remaing Cards @if(lastCard$ | async; as lastCard) {
        <ganopoly-card [card]="lastCard"></ganopoly-card>
        } @if(totalCardsHuman$ | async; as total) {
        <div>
            <button class="btn btn-primary" (click)="takeCards(2, 'human')">Take 2 Cards </button>
        </div>
        } @else {
        <button class="btn btn-primary" (click)="takeCards(5, 'human')">Take 5 Cards </button> }

    </div>
    }
    <div class="debug">
        Remaining DECK @if (remainingDeck$ | async; as remainingDeck) { @for(card of remainingDeck; track $index) {
        <ganopoly-card [card]="card"></ganopoly-card>
        } }
    </div>


</div>
