<button class="btn btn-primary" (click)="newGame()">New Game</button>
<button class="btn btn-primary" (click)="remove()">REMOVE</button>

<div class="game">

    @if (players$ | async; as players) { @for(player of players; track $index) {


    <div class="player">
        {{ player.name}} @for(card of player.hand; track $index) {
        <ganopoly-card [card]="card"></ganopoly-card>
        }

    </div>
    } } @if (remainingDeck$ | async; as remainingDeck) {

    <div class="remaining">Remaing Cards @if(lastCard$ | async; as lastCard) {
        <ganopoly-card [card]="lastCard"></ganopoly-card>
        } @if(totalCardsHuman$ | async; as total) {
        <div>
            <button class="btn btn-primary" (click)="takeCards(2, 'human')">Take 2 Cards </button>
        </div>
        } @else {
        <button class="btn btn-primary" (click)="takeCards(5, 'human')">Take 5 Cards </button> }

    </div>
    }
    <div class="debug">
        Remaining DECK @if (remainingDeck$ | async; as remainingDeck) { @for(card of remainingDeck; track $index) {
        <ganopoly-card [card]="card"></ganopoly-card>
        } }
    </div>


</div>